#quote p {
    font-family: 'Comfortaa';
    font-size: 20px;
    margin: 100px 30%;
    /* width: 40%; */
    /* padding: 70px 0px;
    border-top: 3px solid hsl(0,66%,63%);
    border-bottom: 3px solid hsl(0,66%,63%);
    border-radius: 20%; */
}

.quote .module-border-wrap {
    width: 40%;
    margin: 100px 30%;
    background: linear-gradient(90deg, red, orange, yellow, green, rgb(31, 193, 193), blue, purple);
    padding: 3px;
    border-radius: 20em;
  }
  
.quote .module {
    background: hsl(0,0%,10%);
    color: white;
    padding: 2rem;
    border-radius: 20em;
    text-align: center;
}

/* .donor {
    padding: 20px 2%;
}

.all-donors p {
    margin: 0%;
}

.all-donors {
    margin: 50px 15%;
    width: 70%;
    align-items: baseline;
    display: inline-flex;
    justify-content: center;
    text-align: center;
} */

.container {
    margin: 100px 15%;
}

/* Funding Style */

.funding {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border-top: 3px solid hsl(0,66%,63%);
    border-bottom: 3px solid hsl(0,66%,63%);
    border-radius: 15%; */
    /* width: 70%; */
    margin: 0 15%;
}

.funding .module-border-wrap {
    width: 80%;
    margin: 100px 15%;
    background: linear-gradient(90deg, red, orange, yellow, green, rgb(31, 193, 193), blue, purple);
    padding: 3px;
    border-radius: 10em;
  }
  
.funding .module {
    background: hsl(0,0%,10%);
    color: white;
    padding: 2rem;
    border-radius: 10em;
}

#funding-text {
    font-size: 30px;
}

.funding-slide {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img {
    vertical-align: middle;
    max-height: 300px;
    max-width: 300px;
    padding: 1rem;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-delay: 1s;
  -webkit-animation: arrowInOut 5s linear forwards;
  animation: arrowInOut 5s linear forwards;
}

/* https://stackoverflow.com/questions/49949881/css-keyframes-fade-in-hold-and-fade-out */
@-webkit-keyframes arrowInOut {
    0%,100% {opacity: 0;}
    30%, 80% {opacity: 1;}
}

@keyframes arrowInOut {
    0%,100% {opacity: 0;}
    30%, 80% {opacity: 1;}
}