#symposium-2022 .module-border-wrap {
  width: 70%;
  margin: 100px 15%;
  background: linear-gradient(
    90deg,
    red,
    orange,
    yellow,
    green,
    rgb(31, 193, 193),
    blue,
    purple
  );
  padding: 3px;
  border-radius: 10em;
}

#symposium-2022 .module {
  background: hsl(0, 0%, 10%);
  color: white;
  padding: 2rem;
  border-radius: 10em;
  text-align: center;
}

#symposium-picture {
  width: 70%;
  margin: 2% 15%;
}

#quote p {
  font-family: "Comfortaa";
  font-size: 20px;
  margin: 100px 30%;
  /* width: 40%; */
  /* padding: 70px 0px;
    border-top: 3px solid hsl(0,66%,63%);
    border-bottom: 3px solid hsl(0,66%,63%);
    border-radius: 20%; */
}

.quote .module-border-wrap {
  width: 40%;
  margin: 100px 30%;
  background: linear-gradient(
    90deg,
    red,
    orange,
    yellow,
    green,
    rgb(31, 193, 193),
    blue,
    purple
  );
  padding: 3px;
  border-radius: 20em;
}

.quote .module {
  background: hsl(0, 0%, 10%);
  color: white;
  padding: 2rem;
  border-radius: 20em;
  text-align: center;
}

.container {
  margin: 100px 15%;
}

/* Funding Style */

.funding {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border-top: 3px solid hsl(0,66%,63%);
    border-bottom: 3px solid hsl(0,66%,63%);
    border-radius: 15%; */
  /* width: 70%; */
  margin: 0 15%;
}

.funding .module-border-wrap {
  width: 80%;
  margin: 100px 15%;
  background: linear-gradient(
    90deg,
    red,
    orange,
    yellow,
    green,
    rgb(31, 193, 193),
    blue,
    purple
  );
  padding: 3px;
  border-radius: 10em;
}

.funding .module {
  background: hsl(0, 0%, 10%);
  color: white;
  padding: 2rem;
  border-radius: 10em;
  text-align: center;
}

#funding-text {
  font-size: 25px;
  text-align: center;
}

.funding-slide {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.funding-image {
  vertical-align: middle;
  max-height: 300px;
  min-height: 300px;
  max-width: 300px;
  max-width: 300px;
  padding: 1rem;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-delay: 1s;
  -webkit-animation: arrowInOut 5s linear forwards;
  animation: arrowInOut 5s linear forwards;
}

/* https://stackoverflow.com/questions/49949881/css-keyframes-fade-in-hold-and-fade-out */
@-webkit-keyframes arrowInOut {
  0%,
  100% {
    opacity: 0;
  }
  30%,
  80% {
    opacity: 1;
  }
}

@keyframes arrowInOut {
  0%,
  100% {
    opacity: 0;
  }
  30%,
  80% {
    opacity: 1;
  }
}

/* ----- Responsiveness ----- */
@media only screen and (max-width: 1050px) {
  #symposium-2022 .module-border-wrap {
    width: 80%;
    margin: 100px 10%;
  }

  .quote .module-border-wrap {
    width: 50%;
    margin: 100px 25%;
  }

  .funding .module-border-wrap {
    width: 90%;
    margin: 100px 5%;
  }
}

@media only screen and (max-width: 700px) {
  #symposium-2022 .module-border-wrap {
    width: 90%;
    margin: 100px 5%;
  }

  .quote .module-border-wrap {
    width: 99%;
    margin: 100px 3px;
  }

  .funding .module-border-wrap {
    width: 100%;
    margin: 100px 0;
  }

  .funding .module {
    padding: 6rem;
  }

  #funding-text {
    margin: auto 0;
  }
}
