ul {
    list-style: none;
    margin-left: 15%;
}

#contents {
    margin-bottom: 80px;
}

#contents a {
    text-decoration: none;
    border-radius: 10px;
    padding: 2px 5px;
    transition: all .4s ease;
}

#contents a:hover {
    background-color: white;
    color: black !important;
    box-shadow: 0px 0px 15px hsl(30,88%,69%);
    transition: all .4s ease;
}

/* .button {
    margin: 40px 0px;
    background-color: hsl(30,88%,69%);
    border-radius: 10px;
    color: hsl(0,0%,10%);
    font-weight: 700;
    box-shadow: 0px 0px 5px hsl(0, 0%, 40%);
    transition: all .4s ease;
}

.button:hover {
    background-color: white;
    box-shadow: 0px 0px 15px hsl(30,88%,69%);
    transition: all .4s ease;
} */

.person {
    /* padding-top: 100px; */
    padding-bottom: 1em;
}

.person h3 {
    margin-left: 4%;
}

h4 {
    margin-left: 8%;
}

.row {
    margin: 0% 4% !important;
}

.row p {
    float: left;
    /* width: 35%; */
    margin-right: 0;
}

.col img {
    width: auto;
    max-width: 95%;
    max-Height: 500px;
}

.text {
    display: flex;
    flex-direction: column;
    padding-bottom: 2em;
}

/* .person img {
    padding-top: 25px;
} */

/* .image {
    width: 35%;
    height:250px;
    margin-right: 15%;
    float: right;
} */

/* .image .button {
    margin-left: 50%;
    margin-top: 20px;
} */

/* How to not overshoot links to sections on the same page */
/* https://stackoverflow.com/questions/23581161/how-to-control-the-anchor-landing-position */
.anchor {
    display:block;
    padding-top:100px;
    margin-top:-100px;
 }

.module-border-wrap {
    width: 92%;
    margin: 100px 4%;
    background: linear-gradient(90deg, red, orange, yellow, green, rgb(31, 193, 193), blue, purple);
    padding: 3px;
    border-radius: 10em;
}

.module {
    background: hsl(0,0%,10%);
    color: white;
    padding: 2rem;
    border-radius: 10em;
    text-align: left;
}