ul {
    list-style: none;
    margin-left: 15%;
}

#contents-title {
    padding-top: 5rem;
}

#contents {
    margin-bottom: 80px;
}

#contents a {
    text-decoration: none;
    border-radius: 10px;
    padding: 2px 5px;
    transition: all .4s ease;

}

#contents a:hover {
    background-color: white;
    color: black !important;
    box-shadow: 0px 0px 15px hsl(30,88%,69%);
    transition: all .4s ease;

}

/* https://www.w3schools.com/css/css3_buttons.asp */
.button {
    margin-left: 15%;
    background-color: hsl(30,88%,69%);
    border-radius: 10px;
    color: hsl(0,0%,10%);
    font-weight: 700;
    box-shadow: 0px 0px 5px hsl(0, 0%, 40%);
    transition: all .4s ease;

}

.button:hover {
    background-color: white;
    box-shadow: 0px 0px 15px hsl(30,88%,69%);
    transition: all .4s ease;

}

/* #contents a{
    text-decoration: none;
    color: white;
} */

/* How to not overshoot links to sections on the same page */
/* https://stackoverflow.com/questions/23581161/how-to-control-the-anchor-landing-position */
.anchor {
    display:block;
    padding-top:100px;
    margin-top:-95px;
    margin-left: 15%;
    font-size: 32px;
    width: 70%;
    color: hsl(100, 100%, 100%) !important;
    transition: all .4s ease;
 }

 .anchor:hover {
    color: hsl(30,88%,69%) !important;
    transition: all .4s ease;
 }

 .sec .anchor {
     padding-top: 100px;
     margin-top: 50px;
     margin-right: 15%;
     border-top: 3px solid hsl(0,66%,63%);
     border-radius: 15%;
 }
